<div class="dropdown">
  <button class="btn rounded-danger dropdown-toggle d-flex align-items-center gap-2 px-3 py-2" (click)="toggleMenu()"
    id="exportMenu" aria-expanded="false">
    <img [src]="buttonIcon" [alt]="buttonLabel" class="icon">
    <span class="h5 p-0 m-0">{{ buttonLabel }}</span>
  </button>
  <ul class="dropdown-menu rounded-danger" [style.display]="isMenuOpen ? 'block' : 'none'" aria-labelledby="exportMenu">
    <li *ngFor="let item of menuItems">
      <button class="dropdown-item d-flex align-items-center gap-2" (click)="onMenuItemClick(item.action)">
        <img [src]="item.icon" [alt]="item.label">
        <span class="h6 p-0 m-0">{{ item.label }}</span>
      </button>
    </li>
  </ul>
</div>
