.text-danger {
  color: var(--red-color) !important;
}

.border-danger {
  border-color: var(--red-color) !important;
}

.overview-card,
.order-statistics-card {
  // width: 240px;
  height: 80px;
}

.popular-items-card{
  height: 74.93212890625px;
  width: 221px;
}

.featured-items-card{
  // height: 178px;
  width: 135px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../../../../assets/images/calendar.svg) no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  // color: rgba(0, 0, 0, 0);
  // opacity: 1;
  // display: block;
  // border-width: thin;
}
