<div class="d-flex justify-content-between align-items-center flex-wrap h-75">
  <div class="chart-container">
    <canvas #orderChart></canvas>
    <div class="total text-center">
      <p class="mb-0">Total</p>
      <p class="mb-0">0</p>
    </div>
  </div>
  <ul class="legend">
    <li>
      <span style="white-space: pre;">Delivered (0%)</span>
      <span class="dot blue"></span>
    </li>
    <li>
      <span style="white-space: pre;">Returned (0%)</span>
      <span class="dot magenta"></span>
    </li>
    <li>
      <span style="white-space: pre;">Canceled (0%)</span>
      <span class="dot red"></span>
    </li>
    <li>
      <span style="white-space: pre;">Rejected (0%)</span>
      <span class="dot brown"></span>
    </li>
  </ul>
</div>
