section {
  // min-height: 60dvh;
  background-color: #EEEEEE;
}

button.View {
  background-color: #E4FFE9;
}

button.Edit {
  background-color: #D7ECFF;
}

button.Delete {
  background-color: #FEEEEE;
}

button.QR {
  background-color: #FCC84236;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #F5F5F5;
}

.table-striped>tbody>tr:nth-child(2n)>td,
.table-striped>tbody>tr:nth-child(2n)>th {
  background-color: white;
}

.text-danger {
  color: var(--red-color) !important;
}
