button.View {
  background-color: #E4FFE9;
}

button.Edit {
  background-color: #D7ECFF;
}

button.Delete {
  background-color: #FEEEEE;
}

button.QR {
  background-color: #FCC84236;
}

// tbody{
//   tr {
//     background-color: white !important;
//   }

//   .table-secondary {
//     background-color: #F5F5F5 !important;
//   }
// }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F5F5F5;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: white;
}

.text-danger {
  color: var(--red-color) !important;
}
