button {
  background-color: white;
  color: #818181;
  padding: 8px 16px;
  gap: 8px;
  /* Default inactive color */
}

button:hover {
  background-color: rgba(204, 204, 204, 0.3);
}

.active-link,
.active-link:hover {
  background-color: #F458591F;
  color: #F45859;
  /* Text and icon color when active */
}

// .overflow-y-auto {
//   -ms-overflow-style: none;
//   scrollbar-width: none;
//   max-height: calc(100dvh - 96px);
// }

.sidebar {
  position: fixed;
  left: 0;
  // top: 96px;
  height: 100%;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 1;
  background-color: white;
  // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar.closed {
  transform: translateX(-100%);
  width: 0;
}

.sidebar-toggle {
  transition: width 0.3s ease-in-out;
}

.hidden-sidebar {
  width: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
  // transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 1035px) {
  .sidebar {
    width: 100%;
  }

  .collapsed-sidebar {
    width: 0px;
  }

  .expanded-sidebar {
    width: 0px;
  }
}

@media (min-width: 1035px) {
  .sidebar {
    width: 312px;
  }

  .collapsed-sidebar {
    width: 156px;
  }

  .expanded-sidebar {
    width: 312px;
  }
}
