.h5 {
  font-size: 20px;
}

.text-danger {
  color: var(--red-color) !important;
}

.btn-danger {
  background-color: var(--red-color) !important;
}

.rounded-0 {
  border-radius: 0;
}

img {
  width: 174.57px;
  max-height: 174.57px;
}

.border-danger {
  border-color: var(--red-color) !important;
}

.role-text {
  color: #CC02FF;
}

.card {
  box-shadow: 0px 4px 16px 0px #CCCCCC4D;
}
