<section class="user-details-section" *ngIf="user">
  <div class="card p-4 mb-4">
    <div class="row align-items-center">
      <div class="col-md-4 text-center">
        <img
          [src]="!user.profilePhoto || user.profilePhoto === 'Empty' ? 'assets/images/profile.jpeg' : user.profilePhoto"
          alt="profile" class="img-thumbnail rounded-circle" style="width: 150px; height: 150px;">
      </div>
      <div class="col-md-8">
        <h2 class="text-dark">{{ user.name }}</h2>
        <p class="text-primary">{{ user.roleName ? user.roleName : 'Customer' }}</p>
        <div class="d-flex align-items-center mt-2">
          <label class="btn btn-danger btn-sm">
            Upload New Image
            <input type="file" id="image" (change)="onFileSelect($event)" hidden>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-4 mb-4">
    <h2 class="text-dark">Basic Information</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 mb-3">
        <strong>Email:</strong>
        <span class="text-muted">{{ user.email }}</span>
      </div>
      <div class="col-md-6 mb-3">
        <strong>Phone:</strong>
        <span class="text-muted">{{ user.phoneNumber }}</span>
      </div>
    </div>
    <div>
      <strong>Status:</strong>
      <span [ngClass]="{'text-success': user.status === 1, 'text-danger': user.status === 0}">
        {{ user.status === 1 ? 'Active' : 'Inactive' }}
      </span>
    </div>
  </div>

  <div class="card p-4">
    <div class="table-responsive w-100">
      <div class="d-flex justify-content-between align-items-center w-100 rounded-top bg-white px-4 py-3 border-bottom">
        <span class="section-title text-black">Address</span>

        <div class="d-flex justify-content-center align-items-center gap-3">
          <button (click)="openAddEditModal()"
            class="btn btn-danger text-white d-flex align-items-center justify-content-evenly rounded-2 px-3 py-1 border-0">
            <app-icons iconName="add" color="white" class="me-2"></app-icons>
            <span class="h5 p-0 m-0">Add Address</span>
          </button>
        </div>
      </div>

      <!-- Table -->
      <app-table [data]="currencies" [columns]="columns" [actions]="actions"></app-table>
    </div>
  </div>
</section>
