<div class="d-flex items-center gap-2">
  <app-settings-sidebar></app-settings-sidebar>

  <section class="bg-white p-4 w-full h-fit flex-grow-1">
    <div class="border-bottom mb-4 pb-2">
      <span class="section-title text-black">Email</span>
    </div>
    <div class="company-form-container">
      <form [formGroup]="siteForm" (ngSubmit)="submitForm()" class="space-y-1">
        <!-- Row 1 -->
        <div class="d-flex align-items-center gap-4 justify-content-between flex-wrap flex-md-nowrap">
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailHost" class="form-label">Mail Host <span class="text-danger">*</span></label>
            <input id="mailHost" type="text" class="form-control bg-white" formControlName="mailHost"
              [class.is-invalid]="siteForm.get('mailHost')?.invalid && siteForm.get('mailHost')?.touched" />
            <div *ngIf="siteForm.get('mailHost')?.invalid && siteForm.get('mailHost')?.touched"
              class="invalid-feedback">
              Mail Host is required.
            </div>
          </div>
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailPort" class="form-label">Mail Port <span class="text-danger">*</span></label>
            <input id="mailPort" type="number" class="form-control bg-white" formControlName="mailPort"
              [class.is-invalid]="siteForm.get('mailPort')?.invalid && siteForm.get('mailPort')?.touched" />
            <div *ngIf="siteForm.get('mailPort')?.invalid && siteForm.get('mailPort')?.touched"
              class="invalid-feedback">
              <span *ngIf="siteForm.get('mailPort')?.errors?.['required']">Mail Port is required.</span>
            </div>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="d-flex align-items-center gap-4 justify-content-between flex-wrap flex-md-nowrap">
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailUserName" class="form-label">Mail User Name <span class="text-danger">*</span></label>
            <input id="mailUserName" type="text" class="form-control bg-white" formControlName="mailUserName"
              [class.is-invalid]="siteForm.get('mailUserName')?.invalid && siteForm.get('mailUserName')?.touched" />
            <div *ngIf="siteForm.get('mailUserName')?.invalid && siteForm.get('mailUserName')?.touched"
              class="invalid-feedback">
              <div *ngIf="siteForm.get('mailUserName')?.errors?.['required']">
                Mail User Name is required.
              </div>
            </div>
          </div>
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailPassword" class="form-label">Mail Password</label>
            <input id="mailPassword" type="password" class="form-control bg-white" formControlName="mailPassword"
              [class.is-invalid]="siteForm.get('mailPassword')?.invalid && siteForm.get('mailPassword')?.touched" />
            <div *ngIf="siteForm.get('mailPassword')?.invalid && siteForm.get('mailPassword')?.touched"
              class="invalid-feedback">
              <div *ngIf="siteForm.get('mailPassword')?.errors?.['required']">
                Mail Password is required.
              </div>
            </div>
          </div>
        </div>

        <!-- Row 3 -->
        <div class="d-flex align-items-center gap-4 justify-content-between flex-wrap flex-md-nowrap">
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailFromName" class="form-label">Mail From Name</label>
            <input id="mailFromName" type="text" class="form-control bg-white" formControlName="mailFromName"
              [class.is-invalid]="siteForm.get('mailFromName')?.invalid && siteForm.get('mailFromName')?.touched" />
            <div *ngIf="siteForm.get('mailFromName')?.invalid && siteForm.get('mailFromName')?.touched"
              class="invalid-feedback">
              <div *ngIf="siteForm.get('mailFromName')?.errors?.['required']">
                Mail From Name is required.
              </div>
            </div>
          </div>
          <div class="form-group w-100 w-md-50 mb-2">
            <label for="mailFromEmail" class="form-label">Mail From Email</label>
            <input id="mailFromEmail" type="email" class="form-control bg-white" formControlName="mailFromEmail"
              [class.is-invalid]="siteForm.get('mailFromEmail')?.invalid && siteForm.get('mailFromEmail')?.touched" />
            <div *ngIf="siteForm.get('mailFromEmail')?.invalid && siteForm.get('mailFromEmail')?.touched"
              class="invalid-feedback">
              <span *ngIf="siteForm.get('mailFromEmail')?.errors?.['required']">Mail From Email is required.</span>
              <span *ngIf="siteForm.get('mailFromEmail')?.errors?.['email']">Invalid email format.</span>
            </div>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="form-group w-100 mb-2">
          <label class="form-label">Mail Encryption</label>
          <div class="d-flex align-items-center gap-2">
            <label class="btn radio-label">
              <input type="radio" formControlName="mailEncryption" [value]="'ssl'" class="d-none">
              SSl
            </label>
            <label class="btn radio-label">
              <input type="radio" formControlName="mailEncryption" [value]="'tls'" class="d-none">
              TLS
            </label>
          </div>
        </div>

        <!-- Actions -->
        <div class="d-flex justify-content-end mt-4">
          <button type="submit" class="btn btn-danger">Save</button>
        </div>
      </form>
    </div>
  </section>
</div>
