.pagination-container {
  padding-top: 12px;
  .pagination {
    li {
      .page-link {
        color: #1d1b20;
        display: flex;
        gap: 1rem;

        &:hover {
          color: #f45859 !important;
        }
      }

      &.active .page-link {
        font-weight: bold;
        color: black !important;
        background-color: transparent !important;
        border: none;
      }

      &.disabled .page-link {
        color: #ccc;
        pointer-events: none;
      }
    }
  }
}
