.text-danger {
  color: var(--red-color) !important;
}

.bg-danger {
  background-color: var(--red-color) !important;
}

.whitespace-pre-wrap {
  white-space: pre;
}

.bg-danger-50 {
  background-color: #F458591F;
}

.search-bar{
  min-width: 287px;
}
