.h5 {
  font-size: 20px;
  font-weight: bold;
}

span {
  white-space: nowrap;
}

.text-danger {
  color: var(--red-color) !important;
}

.btn-danger {
  background-color: var(--red-color) !important;
}

.rounded-danger {
  border: 1px solid var(--red-color) !important;
  color: var(--red-color) !important;
}

img {
  width: 25px;
  height: 25px;
}

.accordion-item {
  border: none;
}
