<section class="container bg-white rounded p-4">
  <div class="border-bottom pb-2 mb-3">
    <span class="section-title text-black">Push Notification</span>
  </div>

  <div class="d-flex align-items-center gap-3">
    <img [src]="selectedPushNotification.image" alt="item-details" class="rounded"
      style="width: 175px; height: 175px;">

    <div class="fs-5">
      <p class="fw-semibold text-capitalize">{{ selectedPushNotification.name }}</p>
      <p [ngClass]="{
        'text-success': selectedPushNotification.status === 1,
        'text-danger': selectedPushNotification.status === 0
      }">{{ selectedPushNotification.status == 2 ? 'Active' : 'InActive' }}</p>
    </div>
  </div>
</section>
