@import '../../../../assets/styles/main';
@include radio-label(#F458591F, var(--red-color), #CCCCCC4D, transparent);

button.save {
  @include submit-button(var(--red-color));
}

button.close {
  @include close-button(var(--red-color));
}

.text-danger,
.invalid-feedback {
  color: var(--red-color) !important;
}

input,
select {
  border: 1px solid #CCCCCC4D !important;
  height: 40px;
}

textarea {
  height: 70px;
}

select {
  outline: none !important;
}

select.form-select option:checked {
  background-color: var(--red-color) !important;
}

::ng-deep .ng-select .ng-select-container {
  color: #333;
  border: 1px solid #e7e9ec !important;
  height: 40px !important;
  border-radius: 0.5rem !important;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  box-shadow: none !important;
}

::ng-deep .ng-option.ng-option-selected,
.ng-option.ng-option-selected.ng-option-marked {
  background-color: #FEEEEE !important;
}

::ng-deep .ng-select .ng-select-container {
  color: #A1A1A1 !important;
}
