<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Modal header -->
    <div class="modal-header border-bottom">
      <h5 class="section-title text-black">{{ product?.name }}</h5>
      <button type="button" class="border-0 bg-white" aria-label="Close" (click)="closeModal()">
        <app-icons iconName="close" color="#F45859"></app-icons>
      </button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="cartForm">
        <div class="row">
          <div class="col-4">
            <img [src]="product.imageUrl" alt="Product Image" class="img-fluid rounded">
          </div>
          <div class="col-8">
            <h5 class="fw-bold">{{ product.name }}</h5>
            <p class="text-muted">{{ product.description }}</p>
            <p class="fw-bold">QAR {{ product.price.toFixed(2) }}</p>

            <div class="input-group mt-3">
              <button class="btn btn-outline-secondary" type="button" (click)="decrementQuantity($event)"
                [disabled]="quantity === 1">
                <i class="bi bi-dash"></i>
              </button>
              <input type="number" min="1" [(ngModel)]="quantity" name="quantity" class="form-control text-center">
              <button class="btn btn-outline-secondary" type="button" (click)="incrementQuantity($event)">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <h5 class="fw-bold">Attributes</h5>
          <div *ngFor="let attribute of product.attributes">
            <p class="mb-1">{{ attribute.attributeName }}</p>
            <div class="d-flex flex-wrap">
              <div *ngFor="let variation of attribute.variations" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [id]="variation.id"
                  [formControlName]="attribute.attributeName" [value]="variation.id">
                <label class="form-check-label" [for]="variation.id">
                  {{ variation.name }} (+ QAR {{ variation.additionalPrice }})
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <h5 class="fw-bold">Add-ons</h5>
          <div *ngIf="product.itemAddons.length">
            <div *ngFor="let addon of product.itemAddons" class="form-check">
              <input class="form-check-input" type="checkbox" [formControlName]="addon.name" [id]="addon.id">
              <label class="form-check-label" [for]="addon.id">
                {{ addon.name }} (+ QAR {{ addon.price }})
              </label>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <h5 class="fw-bold">Special Instructions</h5>
          <textarea class="form-control" rows="3" placeholder="Add any special instructions..."></textarea>
        </div>

        <div class="text-end mt-4">
          <button type="submit" class="btn btn-primary">
            Add to Cart (QAR {{ calculateTotalPrice().toFixed(2) }})
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
