.modal-content {
  border-radius: 1rem;
}

.modal-header {
  border-bottom: 1px solid #ddd;
}

.modal-body img {
  max-height: 150px;
}

.input-group {
  max-width: 150px;
}

textarea {
  resize: none;
}
