@import '../../../../assets/styles/main';
@include radio-label(#F458591F, var(--red-color), #CCCCCC4D, transparent);

.modal-content {
  border-radius: 1rem;
}

.modal-header {
  border-bottom: 1px solid #ddd;
}

.modal-body img {
  max-height: 150px;
}

.input-group {
  max-width: 150px;
}

textarea {
  resize: none;
}

.btn-danger {
  background-color: var(--red-color);
}

.extra-card {
  width: 147px;
  height: 233px;
}

.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.badge.bg-light {
  color: black !important;
}

.form-check-input:checked {
  background-color: var(--red-color) !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.radio-label {
  width: fit-content;
}

input[type="radio"] {
  accent-color: var(--red-color) !important;
}

.text-danger,
.invalid-feedback {
  color: var(--red-color) !important;
}
