section {

  // max-width: 50%;
  .search {
    button {
      background-color: var(--red-color);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .categories-container {
    max-width: 700px;
    /* Ensures it doesn't exceed the container */
  }

  .category-button {
    width: 113.12px;
    height: 113.12px;

    img {
      width: 75.65px;
      height: 68.19px;
    }
  }

  .category-button:hover {
    border-bottom: 2px solid var(--red-color);
    background-color: #328DE01F !important;
  }

  .category-button.selected-category {
    border-bottom: 2px solid var(--red-color);
    background-color: #F458591F !important;
  }

  .overflow-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .navigation {
    border: none;
    width: 15.97px;
    height: 7.74px;
  }

  .text-small {
    font-size: 0.875rem; // Adjust as needed
  }

  .w-33 {
    width: 33.33%;
  }
}
