<!-- Navigation Buttons -->
<section class="overflow-x-auto">
  <div class="d-flex justify-content-around w-100">
    <button (click)="setActiveSection('information')" class="btn w-100 rounded-0"
      [ngClass]="{'bg-white text-danger': activeSection === 'information'}">Information</button>
    <button (click)="setActiveSection('image')" class="btn w-100 rounded-0"
      [ngClass]="{'bg-white text-danger': activeSection === 'image'}">Image</button>
    <button (click)="setActiveSection('variation')" class="btn w-100 rounded-0"
      [ngClass]="{'bg-white text-danger': activeSection === 'variation'}">Variation</button>
    <button (click)="setActiveSection('extra')" class="btn w-100 rounded-0"
      [ngClass]="{'bg-white text-danger': activeSection === 'extra'}">Extra</button>
    <button (click)="setActiveSection('addons')" class="btn w-100 rounded-0"
      [ngClass]="{'bg-white text-danger': activeSection === 'addons'}">Add-on</button>
  </div>

  <div class="border border-danger bg-white">
    <!-- Information Section -->
    <div *ngIf="activeSection === 'information' && item" class="section p-3 mb-3">
      <div class="info d-flex flex-column gap-1 col-md-6">
        <div class="d-flex align-items-center flex-wrap gap-3 w-66 justify-content-between">
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Name</span>
            <span class="text-muted">
              {{ item.name }}
            </span>
          </p>
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Price</span>
            <span class="text-muted">
              {{ (item.price).toFixed(2) }}
            </span>
          </p>
        </div>
        <div class="d-flex align-items-center flex-wrap gap-3 w-66 justify-content-between">
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Category</span>
            <span class="text-muted">
              {{ item.categoryName }}
            </span>
          </p>
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Tax</span>
            <span class="text-muted">
              {{ item.taxValue }}
            </span>
          </p>
        </div>
        <div class="d-flex align-items-center flex-wrap gap-3 w-66 justify-content-between">
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Type</span>
            <span class="text-muted">
              {{ item.itemType === 1 ? 'Veg' : 'Non-Veg' }}
            </span>
          </p>
          <p class="d-flex align-items-center gap-3">
            <span class="min-w-135">Featured</span>
            <span class="text-muted">
              {{ item.isFeatured ? 'Yes' : 'No' }}
            </span>
          </p>
        </div>
        <p class="d-flex align-items-center gap-3">
          <span class="min-w-135">Status</span>
          <span class="text-success" [class.text-danger]="!item.isActive">
            {{ item.isActive === 1 ? 'Active' : 'Inactive' }}
          </span>
        </p>
        <p class="d-flex align-items-center gap-3">
          <span class="min-w-135">Description</span>
          <span class="text-muted">
            {{ item.description }}
          </span>
        </p>
        <p class="d-flex align-items-center gap-3">
          <span class="min-w-135">Caution</span>
          <span class="text-muted">
            {{ item.note }}
          </span>
        </p>
      </div>
    </div>

    <!-- Image Section -->
    <div *ngIf="activeSection === 'image'" class="section p-3 rounded mb-3">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <img [src]="item?.imageUrl" alt="Item Image" class="h-auto rounded-3">
        <label class="btn btn-danger text-white d-flex align-items-center justify-content-center border-0">
          Update Image
          <input type="file" id="image" (change)="onFileSelect($event)" class="d-none">
        </label>
      </div>
    </div>

    <!-- Variation Section -->
    <div *ngIf="activeSection === 'variation'" class="section p-3 rounded mb-3">
      <button (click)="openVariationModal()" class="btn btn-danger text-white border-0">
        Add Variation
      </button>
      <!-- Table to Display Variations -->
      <app-table [data]="variations" [columns]="columns" [actions]="actions"></app-table>
    </div>

    <!-- Extra Section -->
    <div *ngIf="activeSection === 'extra'" class="section p-3 rounded mb-3">
      <button (click)="openExtraModal()" class="btn btn-danger text-white border-0">
        Add Extra
      </button>
      <!-- Table to Display Extras -->
      <app-table [data]="extras" [columns]="columns" [actions]="actions"></app-table>
    </div>

    <!-- Addons Section -->
    <div *ngIf="activeSection === 'addons'" class="section p-3 rounded mb-3">
      <button (click)="openAddonsModal()" class="btn btn-danger text-white border-0">
        Add on
      </button>
      <!-- Table to Display Addons -->
      <app-table [data]="addons" [columns]="columns" [actions]="actions"></app-table>
    </div>
  </div>

</section>
